@model Restaurant
@*avoid using if here*@
@*@if ( Model == null )
    {
        <div>not found my friend</div>
    }
    else
    {

        <h1>@Model.Name</h1>

        <div> ... details ...</div>
    }*@

@{ 
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>
<div>
    Id: @Model.Id
</div>
<div>
    Cuisine: @Model.Cuisine
</div>
<a asp-action="Index" asp-controller="Home">Home</a>
